.specialFont {
    font-family: Montserrat;
  }
  
  .iconMargin {
    margin-right: 1000;
  }
  
  .select-sidenav:hover{
    color: white;
    background-color: rgb(41, 142, 250);
    text-decoration: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-left: 1%;
  }
  
  .select-sidenav{
    color: white;
    padding: 10%;
  }


  .rounded-search-input {
    border: solid 1px rgb(184, 182, 182);
    border-radius: 10cm;
    padding-left: 8%;
    color: rgb(184, 182, 182);
    font-family: Montserrat;
    font-size: 90%;
  }

  .rounded-search-input:hover {
    outline: none;
}

.search-film {
  margin-top: 2%;
  width: 100%;
}

.film-list {
  margin-top: 4%;
  width: 100%;
}

.new-list {
  margin-top: 4%;
  width: 100%;
  border-bottom: 1px solid grey;
  padding-bottom: 4%;
}

.title-films-list {
  font-family: Montserrat;
  font-size: 140%;
}

 /* From: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_opacity */
.image-film {
  align-items: center;
  margin-bottom: 4%;
  width: 170px;
  height: 260px;
  margin-top: 4%;
  border-radius: .3cm;
  border: 1px solid grey;

  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container-film:hover .image-film  {
  opacity: 0.4;
}

.container-film:hover .middle {
  opacity: 1;
}


.create-film-button {
   background-color: #007CFF;
   border-radius: 1cm;
   align-items: center;
   vertical-align: center;
   color: white;
   font-family: Montserrat;
   font-size: 90%;
}

.title-create-film {
  font-size: 200%;
}


.placeit-input {
  border: solid 1px rgb(184, 182, 182);
  padding-left: 5%;
  color: rgb(133, 128, 128);
  font-family: Montserrat;
  font-size: 90%;
  width: 100%;
}

.form-container {
  margin-bottom: 7%;
}

.plenty {
  font-family: Montserrat;
  font-size: 130%;
}

.table {
  background-color: white;
  color: grey;
  font-family: Montserrat;
  font-size: 80%;
}

.loading {
  height: 550px;
}
